<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>VUE todolist</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <header>
        <h1>ToDoList</h1>
    </header>

    <main id="app">
        <section class="container">
            <div class="card">

                <div class="card-header">
                    <input @keydown.enter="addTodo" v-model="inputValue"
                    type="text" class="add-input" placeholder="Aggiungi nuovi compiti alla lista">
                </div>

                <div class="card-body">
                    <ul v-if="todos.length !== 0" class="todolist">
                        <li v-for="(todo,i) in todos" class="todo-item">
                            {{ todo }}
                            <a href="#" @click="deleteTodo(i)">Cancella</a>
                        </li>
                    </ul>
                    <p v-else>Non ci sono cose da fare.</p>
                </div>

            </div>
        </section>
    </main>
    
    <script src="app.js"></script>
</body>
</html>