* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, li, a {
    text-decoration: none;
    list-style-type: none;
}

/* HEADER */

header {
    width: 100%;
    padding: 30px 0;
    background-color: palevioletred;
}

header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

/* MAIN */

.container {
    background-color: rgb(204, 228, 221);
    width: 100vw;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    width: 600px;
    height: fit-content;
    border-radius: 15px;
    margin-top: 30px;
}

.card-header {
    background-color: palevioletred;
    padding: 20px;
    border-radius: 15px 15px 0 0;
}

.add-input {
    padding: 10px 15px;
    background-color: rgb(244, 219, 227);
    border-radius: 999px;
    width: 100%;
    border: none;
}

::placeholder {
    color: rgb(211, 163, 178);
}

.card-body {
    padding: 20px;
}

.todolist {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo-item {
    padding: 8px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.todo-item:hover {
    background-color: rgb(244, 219, 227);
}

.delete {
    background-color: rgb(204, 228, 221);
    color: rgb(116, 154, 143);
    border-radius: 50%;
    padding: 4px 7px;
    cursor: pointer;
    font-size: 12px;
}

.no-todo {
    font-size: 12px;
    color: gray;
}

.todo-item:hover .delete {
    background-color: white;
}